[Unit]
Description=Titan web interface container
Requires=titan-firstboot.service docker.service titan-agent.service
After=titan-firstboot.service docker.service titan-agent.service

[Service]
Type=simple
ExecStartPre=/usr/bin/python3 /usr/share/titan/web-container.py prepare
ExecStart=/usr/bin/python3 /usr/share/titan/web-container.py run
ExecStop=-/usr/bin/docker stop --time 20 titan-web
Restart=on-failure
RestartSec=5
TimeoutStartSec=180
TimeoutStopSec=40
UMask=0077

[Install]
WantedBy=multi-user.target
